*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}
a{
    color: white;
    text-decoration: none;
}
#navbar{
    width: 100vw;
    height: 60px;
    position:fixed;
    top:0px;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(7px);
    background-color: rgba(53, 53, 53, 0.511);
}
.logo{
    height: 40px;
    margin: 10px;
}
#burger{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    position: fixed;
    top:10px;
    right: 10px;
    height: 40px;
    width: 40px;
}
.line{
    height: 2px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0.821);
    margin-top: 10px;
}
#l1{
    margin-top: 5px;
}
.preview{
    margin-left: 10%;
    width: 45vw;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(54, 54, 54);
    transition-duration: 0.3s;
}
.preview:hover{
    box-shadow: 5px 5px 0px rgba(54, 54, 54, 0);
}
.down{
    transform: translateY(-40%) translateX(-10%);
}
.heading{
    font-size:xx-large;
    margin: 20px;
}
.subheading{
    font-size: x-large;
    margin: 20px;
}
.text{
    width: 35vw;
    word-wrap: break-word;
    margin: 20px;
    font-size: larger;
}
#about{
    width: 90vw;
    display: flex;
    margin-left: 5vw;
    padding: 20px;
    padding-top: 100px;
}
#finance{
    width: 90vw;
    display: flex;
    margin-left: 5vw;
    margin-top: -2px;
    padding: 20px;
    padding-right: 0;
}
#develop{
    width: 90vw;
    display: flex;
    margin-left: 5vw;
    padding: 20px;
}

.tags{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.323);
    padding: 0px;
    display: flex;
    width: 35vw;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.tags p{
    margin: 10px;
    font-family: consolas;
}

#htmltag {
    background: linear-gradient(to right, #E44D26, #f1d329);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#csstag {
    background: linear-gradient(to right, #264de4, rgb(0, 195, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#jstag {
    background: linear-gradient(to right, #f0db4f, #5e8d00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pythontag {
    background: linear-gradient(to right, rgb(0, 149, 255), yellow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mysqltag {
    background: linear-gradient(to right, teal, orange);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#numpytag {
    background: linear-gradient(to right, rgb(77, 171, 207), rgb(77, 119, 207));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pandastag {
    background: linear-gradient(to right, #150458, #FFCA00, #E70488);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#matplotlibtag {
    background: linear-gradient(to right, #0b4a72,
            #71dbc4, #a3f5a0, #ffd95c, #fe9f5d, #dfff73, #728bc5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#github{
    height: 25px;
    filter: invert(1);
    transition-duration: 0.3s;
}
#contribute{
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    background-color: #00000000;
    border: 1px solid white;
    color: white;
    font-size: large;
    transition-duration: 0.3s;
    padding: 10px 20px 10px 20px;
}
#contribute:hover{
    background-color: white;
    color: black;
}
#contribute:hover #github{
    filter: invert(0);
}
#contribute p{
    margin-right: 10px;
    margin-top: 5px;
}
footer{
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
}
form{
    background-color: #4c4c4c48;
    backdrop-filter: blur(7px);
    width: 40vw;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
input{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}
#send{
    margin-left: 80%;
    width: 20%;
}
.cubes{
    height: 80vh;
    position: absolute;
    right: -200px;
    margin-top: -180px;
}
.contact{
    width: 40vw;
}
.end-logo{
    height: 40px;
    margin-top: 13px;
}
.name{
    display: flex;
}
hr{
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 20px;
}
.links{
    font-weight: 100;
    background-color: #191919;
    height: 120px;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
}
.links a{
    color:rgba(255, 255, 255, 0.433);
}
/*===========================RESPONSIVE===================================*/
@media screen and (max-width: 660px) {
    #about{
        width: 80vw;
        flex-direction: column-reverse;
    }
    #finance{
        margin-left: 0vw;
        flex-direction: column;
    }
    #develop{
        width: 80vw;
        flex-direction: column-reverse;
    }
    .preview{
        width: 75vw;
    }
    .text{
        width: 80vw;
    }
    .tags{
        width: 80vw;
    }
    .cubes{
        width: 120vw;
        height: 120vw;
        left:-170px;
        z-index: -10;
    }
    footer{
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    form{
        width: calc(80vw - 30px);
    }
    .heading{
        font-size: x-large;
    }
    .subheading{
        font-size: larger;
    }
    .text{
        font-size: medium;
    }
    .tags{
        font-size: medium;
    }
    .end-logo{
        height: 30px;
        margin-left: 20px;
    }
}
