/* Light Theme (default) */
body {
    background-color: #fff;
    color: #000;
}

/* Dark Theme */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}
