annotated-types
anyio
click
colorama
contourpy
customtkinter
cycler
darkdetect
dnspython
fastapi
fonttools
h11
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib>=3.2,<3.11  # Adding version range for compatibility
motor
mysql-connector
mysql-connector-python
numpy
packaging
pillow
pydantic
pydantic_core
pymongo
pyparsing
python-dateutil
python-dotenv
six
sniffio
starlette
tabulate
typing_extensions
uvicorn
python-multipart