<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found :(</title>
    <link rel="stylesheet" href="../styles/404.css" />
    <link
      rel="shortcut icon"
      href="../web_images/3dlogo.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="error404">
      4<img
        class="logo"
        src="../web_images/2dlogo.svg"
        alt="Dataverese's Logo"
      />4
    </div>
    <div class="info">Oops! Page not found.</div>
    <div class="info" id="detail">
      We couldn't find the page you requested. It might be unavailable at the
      moment or have a different URL.
    </div>
    <a href="/" class="home">Return to Home</a>
  </body>
</html>
