<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../web_images/3dlogo.svg"
      type="image/x-icon"
    />
    <title>Dataverse Reviews</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/reviews.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav id="navbar">
      <img
        src="../web_images/3dlogo.svg"
        alt="Dataverse Logo"
        class="logo"
        id="normal"
      />
      <img
        src="../web_images/3d_glow.webp"
        alt="Dataverse Logo"
        class="logo"
        id="glow"
      />
      <div class="scrollBar" id="progress_bar"></div>
      <!--PROGRESS BAR-->
      <a href="/login">
        <button class="navbarButton">
          <span class="button-text">Login</span>
          <img
            src="../web_images/user.png"
            alt="User Icon"
            class="user-icon"
          />
        </button>
      </a>
    </nav>
    <button class="burger" id="burger" onclick="show()"></button>
    <button id="cross" class="burger" onclick="hide()"></button>
    <div class="burger" id="lines">
        <div class="line" id="l1"></div>
        <div class="line" id="l2"></div>
        <div class="line" id="l3"></div>
    </div>
    <div class="plane" id="plane">
        <table>
            <tr>
                <td><a href="/" class="table_link">Home</a></td>
            </tr>
            <tr>
                <td><a href="/documentation" class="table_link">Documentation</a></td>
            </tr>
            <tr>
                <td><a href="/versions" class="table_link">Versions</a></td>
            </tr>
            <tr>
                <td><a href="/support" class="table_link">Support</a></td>
            </tr>
            <tr>
                <td><a href="/contributor" class="table_link">Contributors</a></td>
            </tr>
            <tr>
                <td id="current"><a href="/reviews" class="table_link">Reviews</a></td>
            </tr>
            <tr>
                <td><a href="/license" class="table_link">License</a></td>
            </tr>
            <tr>
                <td><a href="/404" class="table_link">Stunning Visuals</a></td>
            </tr>
            <tr>
                <td><a href="https://github.com/multiverseweb/Dataverse" class="table_link">Github Repository</a></td>
            </tr>
        </table>
    </div>

    <div class="reviewContainer">
      <p class="reviewHeading">Dataverse Reviews</p>
      <div id="average-rating"></div>
      <div id="reviews-container" class="reviews-container">
        <!-- Reviews will be dynamically inserted here -->
      </div>
    </div>
    <a href="/"><button class="goBack">Go To Home</button></a>
    <script src="../scripts/beautifyReviews.js"></script>
    <script src="../scripts/script.js" type="module"></script>
  </body>
</html>
